<h1><%= @artist.name %></h1>
<hr>
  <% if @videos.present? %>
    <div class="alert alert-info">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      まずは聞いてみよう！
    </div>
    <%= render 'movie' , videos: @videos %>
  <% end %>